<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}


  <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errImg">
                            <img src="images/404.jpeg"  alt="" class="img-fluid" title="Riya">
                        </figure>
                  
                        <p>Welcome To Weather App</p>
                        <h1>{{errMsg}}</h1>
                        <a href="/"><button> Go Back </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>